/*
 CSS Stylesheet
 */

/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #d4d4d4;
  }

  img { 
    border: 3px solid white; 
  } 
  img:hover { 
    border: 3px solid blue; 
  } 

  header {
    background: #333;
  }
  
  
  h3 {
    font-size: 24px;
    color:#333
  }
  
  a {
    color: #d21034;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  /* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}


  .footer
{
    height: 50px;
    background-color: #333;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}